{
	"presets": [
		[
			"env",
			{
				"modules": false
			}
		],
		"react",
		"stage-0"
	],
	"plugins": [
		[
			"transform-assets-import-to-string",
			{
				"baseDir": "./build/static",
				"baseUri": "/"
			}
		]
	]
}
